body, h1, ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
    width: 100%;
}

.top-line {
    display: flex;
    justify-content: center;
    width: 100%;
}

#logo {
    position: absolute;
    left: 10px;
    background-image: url("/assets/images/logo.png");
    background-size: cover; 
    width: 50px;  
    height: 50px; 
}


#mainListDiv {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.navlinks {
    display: flex;
    list-style: none;


}

.navlinks li {
    margin-right: 10px;
}

.navlinks a {
    text-decoration: none;
    color: inherit;
}

.navlinks a:hover {
    color: inherit;
}
