@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Happy+Monkey&family=Montserrat&display=swap');

body, ul {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2e2d8;
    width: 100vw;
    height: 15vh;
}

h1 {
    font-weight: 900;
    font-size: xx-large;
    font-family: 'Amatic SC', cursive;
}

.top-line {
    display: flex;
    justify-content: center;
    width: 100%;
}

#logo {
    position: absolute;
    top: 1.5vh;
    left: 2vw;
    background-image: url("/assets/images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 13vh;
    height: 15vh;
}

#mainListDiv {
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.navlinks {
    display: flex;
    list-style: none;
    padding: 1vh;
}

.navlinks li {
    margin-right: 10px;
}

.navlinks a {
    text-decoration: none;
    color: inherit;
}

.navlinks a:hover {
    color: inherit;
}

hr {
    margin: 0;
    border: none;
    height: 1px;
    background-color: #999;
    box-shadow: 0px 1px 2px #888888;
}

#hero {
    background-image: url("/assets/images/hero_cake.webp");
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#half-divs {
    display: flex;
    flex-wrap: nowrap;
}

#left-div, #right-div {
    flex: 1 1 50%;
    height: 20vh;
    padding: 0.5rem 1em;
}

#left-div p {
    font-family: 'Happy Monkey', cursive;
    font-size: smaller;
    text-align: center;
    color: #ff6b6b;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 1rem;
    background-color: antiquewhite;
}

#right-div {
    flex: 1 1 50%;
    height: 25vh;

}

#right-div img {
    padding: 1rem 1rem 0 1rem;
    width: 80%;  /* This will make the image width same as the div width */
    height: auto; /* This will maintain the aspect ratio of the image */

}

#right-div p {
    font-size:x-small;
    margin-top:0;
}

.main {
    flex-grow: 1;
}

footer a {
    text-decoration: none;
    color: #57340a;
    padding: 0.5rem;

}

footer {
    margin-top:25%; 
}
