/* =======  Global Styles ====== */

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Cookie&family=Dancing+Script&family=Happy+Monkey&family=Montserrat&display=swap');

body,
ul {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: stretch;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2e2d8;
    width: 100vw;
    height: 14vh;
}

ul {
    list-style-type: none;
}

hr {
    margin: 0;
    border: none;
    height: 1px;
    background-color: #999;
    box-shadow: 0px 1px 2px #888888;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #b52749;
    padding: 0.1rem;
}

footer a {
    text-decoration: none;
    color: #ffffff;
    padding: 0.5rem;
}

/* =======  Index Page Styles ====== */

#hero {
    background-image: url("https://binarymonk.online/hero.jpg");
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#slogan {
    display: grid;
    place-items: center;
    font-family: 'Cookie', cursive;
    font-size: x-large;
    text-align: center;
}

#slogan p {
    margin: 0;
}

#half-divs {
    display: flex;
}

#left-div,
#right-div {
    flex: 1;
    height: 20vh;
    padding: 0.5rem;
    flex-wrap: nowrap;
}

#left-div p {
    font-family: 'Happy Monkey', cursive;
    font-size: smaller;
    text-align: center;
    color: #ff6b6b;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 1rem;
    background-color: antiquewhite;
}

#right-div-img {
    display: inline-block;
    text-align: center;
    margin: 1rem;
}

#right-div-img img {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    width: auto;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

#right-div-img p {
    margin: 0;
    font-size: x-small;
}

/* =======  Product Page Styles ====== */

.cake-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.polaroid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 5px solid #f7f7f7;
    padding: 10px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2rem 0 2rem;
    width: 200px;
    min-height: 255px;
    overflow: hidden;
}

.caption_wrapper {
    flex-grow: 1;
    width: 100%;
}

.caption p {
    font-family: 'Cookie', cursive;
    font-size: x-large;
}

.bottom_row p {
    margin: 0.5rem;
}

.price_tag,
.buy_button {
    flex: 1;
    box-sizing: border-box;
    height: 30px;
    width: 30%;
}

.buy_button {
    background-color: #b52749;
    color: #ffffff;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
}

.buy_button:hover {
    box-shadow: inset 0 0 5px #000000;
    color: #000000;
    font-weight: bold;
}

.polaroid img {
    max-width: 80%;
    max-height: 80%;
    margin-top: 5vh;
}

.bottom_row {
    width: 100%;
    height: 5vh;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    flex-shrink: 0;
}

.polaroid img {
    width: 80%;
    height: 45%;
}

/* =======  About Page Styles ====== */

.about-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-flex-item {
    width: 100%;
    margin-bottom: 20px;
}

.about-flex-item.about-right {
    order: 2;
}

/* =======  Contact Page Styles ====== */

.contact-flex-container {
    display: flex;
    justify-content: space-between;
}

.contact-flex-item {
    width: 45%;
}

.contact-flex-item .about-address,
.contact-flex-item .about-newsletter,
.contact-flex-item .about-maps,
.contact-flex-item .about-slogan {
    margin-bottom: 20px;
}

.contact-main {
    margin: auto;
}

.contact-newsletter {
    background-color: #f2e2d8;
    border-radius: 15px;
    width: 20vw;
    margin: 1rem 1rem;
    padding: 1rem;
}

.contact-newsletter h2 {
    color: #b52749;
}

.contact-newsletter input[type="email"] {
    border: 1px solid #b52749;
    border-radius: 15px;
}

.contact-newsletter input[type="submit"] {
    background-color: #b52749;
    color: white;
    border-radius: 15px;
}

.contact-newsletter input[type="submit"]:hover {
    background-color: #912033;
}

.contact-maps {
    display: flex;
    justify-content: center;
}

.contact-slogan img {
    width: 35vw;
}


/* =======  Media Queries ====== */

@media only screen and (max-width: 481px) {
    #right_div_img img {
        max-width: 80%;
        width: 80%;
        max-height: 150px;
    }

    #right_div_img p {
        font-size: x-small;
        padding-top: 0;
        margin-top: 0;
    }
}

@media only screen and (min-width: 481px) {

    header h1 {
        font-size: 400%;
    }

    #slogan>p {
        font-size: 150%;
    }

    #left-div>p {
        font-size: 150%;
        margin-left: 24px;
    }

    footer {

        padding: 1.5rem;
    }

    .custom_icon {
        font-size: 150%
    }

    footer a {

        padding: 1rem;
    }
}

@media only screen and (min-width: 768px) {
    .about-flex-item {
        width: 45%;
        margin-bottom: 0;
    }

    header h1 {
        font-size: 400%;
    }

    #mainListDiv a {
        font-size: larger;
    }

    .navlink-item,
    .navlinks span {
        font-size: larger;
    }

    #hero {

        height: 35vh;
    }

    #slogan>p {
        font-size: 200%;
    }

    #right_div_img p {
        font-size: medium;
    }

    #left-div>p {
        font-size: 175%;
    }
}

@media only screen and (min-width: 1201px) {

    header h1 {
        margin-top: 0;
    }

    footer {

        padding: 0;
    }

    footer a {

        padding: 1rem;
    }

    .custom_icon {
        font-size: 200%
    }

    #right_div_img {
        margin-top: 0;
    }

    #right_div_img img {
        max-height: 290px;
    }

    #left-div p {
        margin-left: 10vw;
        font-size: 250%;
        max-width: 34vw;
        margin-top: 0;
    }

}

@media only screen and (min-width: 1600px) {

    .top-line h1 {
        font-weight: bolder;
    }

    .contact {
        padding: 0.5rem;
    }

    #slogan {
        font-size: 200%;
    }

    #right_div_img {
        margin-top: 0;
    }
}